# Ignore node_modules directory
node_modules/

# Ignore generated JavaScript files and declaration files
*.js
*.js.map
*.d.ts

# Ignore development environment settings
.env

# Ignore build and output directories
dist/
out/
lib/

# Ignore editor and IDE specific files and directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore operating system files
Thumbs.db
.DS_Store
